# Dependencies & IDE
.vscode/
.idea/
*.log
.DS_Store

# Terraform local state files & secrets
aws/terraform/.terraform/
aws/terraform/*.tfstate
aws/terraform/*.tfstate.backup
aws/terraform/.terraform.lock.hcl
